$white-0: #f6f6f6;
$white-1: #f8f8fb;

$text-color: #a1a5b3;
$text-color-1: #6a7187;
$text-color-2: #5a6070;
$text-color-3: #4b5163;
$text-color-4: #3f4553;

//####### modal variables
$modal-background-color: #00000042;
